APP_NAME=RBAC Blog Informativo
APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgresql+psycopg2://rbac_blog_user:rbac_blog_password@postgres:5432/rbac_blog

JWT_SECRET_KEY=cambia_esta_clave_por_una_muy_larga_y_aleatoria
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password_123
MINIO_BUCKET=media
MINIO_SECURE=false
FCM_CREDENTIALS_PATH=/app/firebase/firebase-service-account.json